body {
    font-size:18px;
    line-height:1.5;
}

header, main, nav, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1.5rem;
}
p img {
    float: right;
    margin:10px;
    border: 1px solid black;
}

footer {
    background-color:navy;
    color:white;
    text-align:center;
}



header{
    
    padding:10px;
    margin:-10px;
    
  }
  .heading-1{
  padding-top:-30px;
    color:white;
  }
  
  .photo{
    float:none;
    padding-left:300px;
    padding-bottom:10px;
  }
  .heading-2{
    text-decoration:underline;
  }
  .copyright{
    text-align:center;
    color:white;
  }
  footer{
    background-color:#00539CFF;
    padding:10px;
    margin:-10px;
  }