body{
    background-color:white;
    font-family:sans-serif, Arial, Helvetica;
  }
#index-main{
    max-width: 800px;
    margin:0 auto;
  }
header, footer{
    background-color:#00539CFF;
    color:white;
    padding:8px;
    border-radius: 15px;
    }
.photo{
    width:150px;
    float:right;
    box-shadow:0 0 17px black;
  }
.heading-1{
  font-size:32px;
  padding-left:95px;
  }
main{
padding:0 15px;
  }
.heading-2{
  border-bottom: 1px solid black;
  }
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
  color:white;
  }
footer a:hover {
  color:#DDD;
  }
footer {
  clear:both;
  text-align:center;
  }
footer p.copyright {
margin-bottom:9px;
font-size:.9em;
  }
footer p.highlight {
  color:yellow;
  font-size: .8em;
  margin-top:0; 
  }