body{
    background-color: grey;
}
h1{
    text-align: center;
    color:blue;
    font-family: cursive;
}
h2{
    color: blue;
    font-family:  serif;
}
img{
    width: 250px;
}
div{
    display:grid;
    grid-template-columns: auto;
    gap:3px;
}
.cards section{
    border: 1px solid black;
    background-color: lavender;
    text-align: center;
}
footer{
    text-align: center;
}

@media only screen and (min-width: 32rem) {
    div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:3px;
    }
    img{
        width: 250px;
    }
}
@media only screen and (min-width: 64rem) {
    div{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap:3px;
    }
    img{
        width: 250px;
    }
}