table,thead, tfoot, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:10%;
    font-family: Ubuntu, sans-serif;
  }
  table{
      margin: 0 auto;
  }
  th, td {
    padding: 8px 15px;
    text-align: center;
  }
  tr:nth-child(2n+2){
      background-color: #e7f0ed;
  }
  caption, tfoot{
      background-color: #7fb9c2;
  }
  td{
      background-color: #e7ffed;
  }
  thead{
      background-color: #628ca6;
      color: white;
  }
  .th{
    background-color: #628ca6;
  }
  th{
      font-weight: normal;
  }
  #bf{
      font-style: italic;
  }
  caption {
      padding: 20px;
      font-size:25px;
      font-style: bold;
  }

