@media only screen and (min-width: 32.5em) {
    main{
        /*display:grid;*/
        grid-template-columns: 1fr 1fr;
    }
    /*.img-1{
        grid-column:2/3;
        grid-row:1/2;
        width:35%;
    }
    .img-2{
        width:35%;
        grid-column:2/3;
        grid-row: 1/2;
    }
    .img-3{
        width:35%;
        
    }*/
}