.dp-title{
    text-align:center;
}
.dp-subtitle{
    text-align: center;
}
.dp-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1em; 
}
.img-1{
    grid-column: 1/2;
    grid-row:1/2;
    width:200px;
}
.header-1{
    grid-column:1/2;
    grid-row:2/3;
}
.paragraph-1{
    grid-column:1/2;
}
.img-2{
    grid-column:2/3;
    grid-row:1/2;
    width:200px;
}
.header-2{
    grid-column:2/3;
    grid-row:2/3;
}
.paragraph-2{
    grid-column:2/3;
}
.img-3{
    grid-column:3/4;
    grid-row:1/2
}
.header-3{
grid-column:3/4;
grid-row:2/3;
}
.paragraph-3{
    grid-column:3/4;
}
.apple-link{
    grid-column:1/2;
    grid-row:2/3;
    padding-top:70px;
    padding-left:60px;
    font-size: 19px;
}
.nintendo-link{
    grid-column:2/3;
    grid-row:2/3;
    padding-top:70px;
    padding-left:60px;
    font-size:19px;
}
.byui-link{
    grid-column:3/4;
    grid-row:2/3;
    padding-top:70px;
    padding-left:60px;
    font-size:19px;

}