/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

nav li.active{
background-color: black;
}
nav a{
    color: white;
}
/*----------- BODY --------------*/
img.logo{
    width: 130px;
}
iframe.info1{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
body {
    font-size: 16px;
    font-family: 'quicksand', sans-serif;
    display:block;
    
}
.info{
    margin-left: 20px;
    text-align: center;
}

h1{
    text-align: left;
}
.contact{
    text-align: center;
}
/*----------- FORM ----------------*/

.title{
    text-align: center;
}
form fieldset{
    margin: 2rem;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
display: block;
padding-top: 1rem;
color: #9c2c24;
font-size: .8rem;
margin-right: 100px;
}
form label.top input, form label.top datalist {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin:0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    text-align: center;
}
form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/
/*footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}*/

/*----- Clearfix: Force an Element not to collapse -----*/
/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/
@media only screen and (min-width:34.5em){

    /*----------- BODY --------------*/
    iframe{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
body {
    font-size: 16px;
    font-family: 'quicksand', sans-serif; 
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info{
    padding: 0;
    margin-left: 20px;
    text-align: left;
    grid-column: 1;
    line-height: 1px;
}
form{
    grid-column: 2;
}

/*----------- FORM ----------------*/

form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1px;
    padding: 0 .5rem;
}

form label.top, form div {
display: block;
padding-top: 1rem;
color: #9c2c13;
font-size: .8rem;
}
form label.top input, form label.top datalist {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin:0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
form{
    grid-column: 2;
    grid-row: 1;
    
}
}
/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    iframe{
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
    main {
        margin:0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
form{
    grid-column: 2;
    grid-row: 1;
}
/*----------- BODY --------------*/
.info{
    padding: 0;
    margin-left: 20px;
    text-align: left;
    grid-column: 1;
    line-height: 1px;
}

label.top{
    padding: 0;

}

} /* end of media query */

